.slider {
    margin: 0 auto 40px;
    max-width: 100% !important;
    max-height: 700px;
    overflow: hidden;

    .slide img {
        height: auto !important;
    }

    .fraction-slider {

        div:nth-child(2n) img {
            @include vendorize(transform, scale(1.06));
        }

        .scale-slide:nth-child(2n) img {
            @include vendorize(transform, scale(1));
            @include transition(all, 8s, ease);
        }

        div:nth-child(2n+1) img {
            @include vendorize(transform, scale(1));
        }

        .scale-slide:nth-child(2n+1) img {
            @include vendorize(transform, scale(1.06));
            @include transition(all, 8s, ease);
        }
    }
}